.container {
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
}

.botao {
    padding: 10px 15px;
    background-color: var(--mar-1);
    border-radius: 4px;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

.botao:hover {
    background-color: var(--mar-2);
}

.titulo-pagina {
    justify-self: end;
    margin-bottom: 60px;
    width: 100%;
    padding-left: 20px;
}

.titulo-pagina::after {
    display: block;
    content: '';
    width: 200px;
    height: 8px;
    background-color: var(--bra-0);
}



@media (width <= 1000px) {
    .titulo-pagina h1{
        font-size: 4rem;
    }
}