.sobre-local-image {
    background-image: url('../../img/Contato/loja.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.3);
    
    width: 100%;
    height: 420px;
    display: flex;
    align-items: center;
    margin-bottom: 120px;
}

.sobre-local-conteudo {
    text-align: center;
}

.sobre-local-lacos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--bra-2);
}

.sobre-local-lacos p {
    padding: 80px 48px;
}

.sobre-local-lacos-image {
    background-image: url('../../img/Sobre/sobre-amigos.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 600px;
    height: 600px;
}

@media (width <= 1200px) {
    .sobre-local-lacos {
        grid-template-columns: 1fr;
    }

    .sobre-local-lacos-image {
        width: 100%;
    }

    .sobre-local-lacos p {
        padding: 24px;
    }
}

@media (width <= 800px) {
    .sobre-local-conteudo h2 {
        font-size: 3rem;
    }

    .sobre-local-conteudo p {
        font-size: 1rem;
    }

    .sobre-local-lacos p {
        font-size: 1.5rem;
    }
}