.page-image {
    background-image: url('../../img/Home/home-intro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.3);
    
    display: flex;
    align-items: center;
    height: 100vh;
    margin-bottom: 120px;
}

.titulo-pagina-home {
    display: grid;
    justify-items: center;
    text-align: center;
    gap: 48px;
}

.titulo-pagina-home a {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 15px 20px;
    border: 2px solid var(--bra-0);
    transition: 0.3s;
}

.titulo-pagina-home a:hover {
    background-color: var(--bra-0);
    color: #000;
}

.titulo-pagina-home svg path {
    transition: 0.3s;
}

.titulo-pagina-home a:hover svg path {
    fill: #000;
    transform: translateX(6px);
}

@media (width <= 1000px) {
    .titulo-pagina-home h1{
        font-size: 4rem;
    }

    .titulo-pagina-home a {
        font-size: 1.5rem;
        padding: 10px 15px;
    }
}

@media (width <= 800px) {

    .titulo-pagina-home {
        gap: 24px;
    }

    .titulo-pagina-home h1{
        font-size: 2.5rem;
    }

    .titulo-pagina-home a {
        font-size: 1.5rem;
        padding: 5px 10px;
    }
}
